@{
    ViewData["Title"] = "System Contract";
}
@model System_Development.SystemsDevelop

<div class="text-center">
    <h1 class="display-4">Your Contract Monthly Claim System </h1>
   
</div>

form asp-action="Create" method="post">
<form>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
    </div>

    <div class="form-group">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumbers"></label>
        <input asp-for="PhoneNumbers" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LastPayment "></label>
        <input asp-for="LastPayment " class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LatestPayment"></label>
        <input asp-for="LatestPayment" class="form-control" />
    </div>

  

 

    <div class="form-group">
        <label asp-for="IssueType"></label>
        <select asp-for="IssueType" class="form-control">
            <option value="Technical">Technical</option>
            <option value="Billing">Billing</option>
            <option value="General Inquiry">General Inquiry</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="4" ></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>





